<template>
    <div id="editor">
        <div id="gjs" v-html="template.mjml"></div>
        <div id="test-panel" style="display: none">
            <form id="test-form" class="test-form">
                <div class="gjs-sm-property">
                    <div class="gjs-field">
                        <span id="gjs-sm-input-holder">
                            <input
                                v-model="email"
                                placeholder="Email"
                                required=""
                                type="email"
                            />
                        </span>
                    </div>
                </div>

                <div class="gjs-sm-property">
                    <div class="gjs-field">
                        <span id="gjs-sm-input-holder">
                            <input
                                v-model="subject"
                                placeholder="Subject"
                                required=""
                                type="text"
                            />
                        </span>
                    </div>
                </div>
                <button
                    class="gjs-btn-prim gjs-btn-import"
                    style="width: 100%"
                    @click="test"
                >
                    Invia
                </button>
            </form>
        </div>
        <div id="save-panel" style="display:none">
            <form id="save-form" class="save-form">
                <div class="gjs-sm-property">
                    <div class="gjs-field">
                        <span id="gjs-sm-input-holder">
                            <input
                                v-model="template.title"
                                placeholder="Nome"
                                required=""
                                type="text"
                            />
                        </span>
                    </div>
                </div>
                <div class="gjs-sm-property">
                    <div class="gjs-field">
                        <span id="gjs-sm-input-holder">
                            <textarea v-model="template.description"></textarea>
                        </span>
                    </div>
                </div>
                <button
                    class="gjs-btn-prim gjs-btn-import"
                    style="width: 100%"
                    @click="save"
                >
                    Salva
                </button>
            </form>
        </div>
        <div id="fork-panel" style="display:none">
            <form id="fork-form" class="fork-form">
                <div class="gjs-sm-property">
                    <div class="gjs-field">
                        <span id="gjs-sm-input-holder">
                            <input
                                v-model="title"
                                placeholder="Nome"
                                required=""
                                type="text"
                            />
                        </span>
                    </div>
                </div>
                <div class="gjs-sm-property">
                    <div class="gjs-field">
                        <span id="gjs-sm-input-holder">
                            <textarea v-model="description"> </textarea>
                        </span>
                    </div>
                </div>
                <button
                    class="gjs-btn-prim gjs-btn-import"
                    style="width: 100%"
                    @click="fork"
                >
                    Salva
                </button>
            </form>
        </div>
    </div>
</template>
<script>
import { mapState } from 'vuex'
import { assetAPI } from '@/api'

export default {
    data() {
        return {
            gjs: null,
            mjml:
                '<mjml><mj-body><mj-container><mj-section></mj-section></mj-container></mj-body></mjml>',
            title: '',
            description: '',
            subject: '',
            email: '',
            sent: false,
            saved: false,
        }
    },

    computed:{
        ...mapState('template', ['template'])
    },

    watch: {
        sent: function(result) {
            if (result == true) {
                this.gjs.Modal.close()
            }
        },

        saved: function(result) {
            if (result == true) {
                this.gjs.Modal.close()
            }
        },
    },

    mounted() {
        var images = []
        this.gjs = window.grapesjs.init({
            clearOnRender: true,
            height: 'auto',
            width: 'auto',
            storageManager: {
                type: 'none',
                autoload: false,
            },
            assetManager: {
                assets: images,
                upload: assetAPI.upload,
                uploadText: 'Drop the files',
            },
            container: '#gjs',
            fromElement: true,
            plugins: ['gjs-mjml', 'gjs-preset-mjml', 'gjs-ckeditor'],
            pluginsOpts: {
                'gjs-ckeditor': {
                    options: {
                        toolbar: [
                            'bold',
                            'italic',
                            'link',
                            'bulletedList',
                            'numberedList',
                        ],
                    },
                },
            },
        })

        let editor = this.gjs

        this.$store
            .dispatch('asset/assets')
            .then(success => editor.AssetManager.add(success))

        var mdlClass = 'gjs-mdl-dialog-sm'
        var pnm = editor.Panels
        var cmdm = editor.Commands

        var testContainer = document.getElementById('test-panel')
        var saveContainer = document.getElementById('save-panel')
        var forkContainer = document.getElementById('fork-panel')
        var contentEl = testContainer.querySelector('input[name=body]')
        var md = editor.Modal

        cmdm.add('send-test', {
            run(editor, sender) {
                sender.set('active', 0)
                var mdlDialog = document.querySelector('.gjs-mdl-dialog')
                mdlDialog.className += ' ' + mdlClass
                testContainer.style.display = 'block'
                saveContainer.style.display = 'none'
                forkContainer.style.display = 'none'
                md.setTitle('Send a test')
                md.setContent('')
                md.setContent(testContainer)
                md.open()
                md.getModel().once('change:open', () => {
                    mdlDialog.className = mdlDialog.className.replace(
                        mdlClass,
                        ''
                    )
                })
            },
        })
        pnm.addButton('options', {
            id: 'send-test',
            className: 'fa fa-paper-plane',
            command: 'send-test',
            attributes: {
                title: 'Test Newsletter',
                'data-tooltip-pos': 'bottom',
            },
        })

        /*
         * Let's add the possibility to save our templates
         */
        cmdm.add('save-template', {
            run(editor, sender) {
                sender.set('active', 0)
                var mdlDialog = document.querySelector('.gjs-mdl-dialog')
                var cmdGetCode = cmdm.get('gjs-get-inlined-html')
                contentEl.value = cmdGetCode && cmdGetCode.run(editor)
                mdlDialog.className += ' ' + mdlClass
                testContainer.style.display = 'none'
                saveContainer.style.display = 'block'
                forkContainer.style.display = 'none'
                md.setTitle('Save Template')
                md.setContent('')
                md.setContent(saveContainer)
                md.open()
                md.getModel().once('change:open', () => {
                    mdlDialog.className = mdlDialog.className.replace(
                        mdlClass,
                        ''
                    )
                })
            },
        })

        pnm.addButton('options', {
            id: 'save-template',
            className: 'fa fa-save',
            command: 'save-template',
            attributes: {
                title: 'Save template',
                'data-tooltip-pos': 'bottom',
            },
        })

        /*
         * Let's add the possibility to fork our templates
         */
        cmdm.add('fork-template', {
            run(editor, sender) {
                sender.set('active', 0)
                var mdlDialog = document.querySelector('.gjs-mdl-dialog')
                var cmdGetCode = cmdm.get('gjs-get-inlined-html')
                contentEl.value = cmdGetCode && cmdGetCode.run(editor)
                mdlDialog.className += ' ' + mdlClass
                testContainer.style.display = 'none'
                saveContainer.style.display = 'none'
                forkContainer.style.display = 'block'
                md.setTitle('Save as')
                md.setContent('')
                md.setContent(forkContainer)
                md.open()
                md.getModel().once('change:open', () => {
                    mdlDialog.className = mdlDialog.className.replace(
                        mdlClass,
                        ''
                    )
                })
            },
        })
        pnm.addButton('options', {
            id: 'fork-template',
            className: 'fa fa-code-fork',
            command: 'fork-template',
            attributes: {
                title: 'Save as',
                'data-tooltip-pos': 'bottom',
            },
        })
    },

    methods: {
        test: () => {
            this.$store.dispatch('template/test', {
                html: this.gjs.runCommand('mjml-get-code').html,
                email: this.email,
                subject: this.subject,
            })
        },

        save: () => {
            this.$store
                .dispatch('template/save', {
                    title: this.title,
                    description: this.description,
                    html: this.gjs.runCommand('mjml-get-code').html,
                    mjml: this.gjs.getHtml(),
                })
                .then(this.gjs.Modal.close())
        },

        fork: () => {
            this.$store
                .dispatch('template/fork', {
                    id: null,
                    title: this.title,
                    description: this.description,
                    html: this.gjs.runCommand('mjml-get-code').html,
                    mjml: this.gjs.getHtml(),
                })
                .then(this.gjs.Modal.close())
        },
    },
}
</script>
