<template>
    <div
        v-infinite-scroll="loadMore"
        infinite-scroll-disabled="loadMoreDisabled"
        infinite-scroll-distance="10"
    >
        <v-container fluid grid-list-md>
            <v-layout row wrap>
                <v-toolbar card color="white">
                    <v-text-field
                        v-model="search"
                        flat
                        solo
                        prepend-icon="search"
                        placeholder="Search"
                        hide-details
                        class="hidden-sm-and-down"
                    ></v-text-field>
                    <v-btn icon>
                        <v-icon>add</v-icon>
                    </v-btn>
                </v-toolbar>
                <v-flex v-for="template in slice" :key="template.id">
                    <v-card>
                        <v-img
                            :src="thumbnail(template)"
                            height="200px"
                        ></v-img>
                        <v-card-title primary-title>
                            <div>
                                <div class="headline">{{ template.title }}</div>
                                <span class="grey--text">{{
                                    template.description
                                }}</span>
                            </div>
                        </v-card-title>
                        <v-card-actions>
                            <v-spacer></v-spacer>
                            <v-btn icon :to="'/template/' + template.id">
                                <v-icon>edit</v-icon>
                            </v-btn>
                        </v-card-actions>
                    </v-card>
                </v-flex>
            </v-layout>
        </v-container>
    </div>
</template>
<script>
import { mapState } from 'vuex'
import { templateAPI } from '@/api'

export default {
    data: () => {
        return {
            search: '',
            page: 1,
            pagination: 50,
        }
    },

    computed: {
        ...mapState('template', ['templates']),
        slice(){
            return this.templates.slice(0, this.page * this.pagination)
        }
    },

    mounted() {
        this.$store.dispatch('template/templates')
    },

    methods: {
        loadMore(){
            this.page++
        },
        thumbnail(){
            template => templateAPI.thumbnail(template.id)
        },
    },
}
</script>
