<template>
    <editor></editor>
</template>
<script>
import Editor from './Editor'

export default {
    props: ['id'],
    components: {
        Editor,
    },
    mounted(){
        this.$store.dispatch('template/template', this.id)
    },
}
</script>
