<template>
    <v-form>
        <v-container grid-list-xl fluid>
            <v-layout row wrap>
                <info></info>
                <tpl></tpl>
                <statistics></statistics>
            </v-layout>
        </v-container>
    </v-form>
</template>
<script>
import { mapActions, mapState } from 'vuex'

import Info from './Info'
import Statistics from './Statistics'
import Tpl from './Template'

export default {
    components: {
        Info,
        Statistics,
        Tpl,
    },
    props: ['id'],

    computed: {
        ...mapState('campaign', ['campaign']),
    },

    mounted() {
        this.$store.dispatch('campaign/campaign', this.id)
    },

    methods: {
        ...mapActions('campaign', ['save']),
    },
}
</script>
