<template>
    <div v-infinite-scroll="loadMore" infinite-scroll-distance="10">
        <v-container grid-list-xl fluid>
            <v-layout row wrap>
                <v-flex lg12>
                    <v-card>
                        <v-toolbar card color="white">
                            <v-text-field
                                v-model="search"
                                flat
                                solo
                                prepend-icon="search"
                                placeholder="Search"
                                hide-details
                                class="hidden-sm-and-down"
                            ></v-text-field>
                            <v-btn icon>
                                <v-icon>add</v-icon>
                            </v-btn>
                        </v-toolbar>
                        <v-divider></v-divider>
                        <v-card-text class="pa-0">
                            <v-data-table
                                :headers="headers"
                                :search="search"
                                :items="slice"
                                :hide-actions="true"
                                :select-all="false"
                                class="elevation-1"
                                disable-initial-sort
                            >
                                <template slot="items" slot-scope="props">
                                    <td class="px-0">
                                            <v-btn
                                                v-if="props.item.sent"
                                                depressed
                                                outline
                                                icon
                                                fab
                                                dark
                                                color="green"
                                                small
                                                :to="
                                                    'campaign/' + props.item.id
                                                "
                                            >
                                                <v-icon>remove_red_eye</v-icon>
                                            </v-btn>
                                            <v-btn
                                                v-if="!props.item.sent"
                                                depressed
                                                outline
                                                icon
                                                fab
                                                dark
                                                color="primary"
                                                small
                                                :to="
                                                    'campaign/' + props.item.id
                                                "
                                            >
                                                <v-icon>edit</v-icon>
                                            </v-btn>
                                            <v-btn
                                                v-if="!props.item.sent"
                                                depressed
                                                outline
                                                icon
                                                fab
                                                dark
                                                color="pink"
                                                small
                                            >
                                                <v-icon>delete</v-icon>
                                            </v-btn>
                                    </td>
                                    <td class="text-xs-left">
                                        {{ props.item.subject }}
                                    </td>
                                    <td class="text-xs-left">
                                        {{ props.item.list }}
                                    </td>
                                    <td class="text-xs-left">
                                        {{
                                            props.item.sendtime
                                                | moment(
                                                    'dddd, MMMM Do YYYY HH:mm'
                                                )
                                        }}
                                    </td>
                                </template>
                            </v-data-table>
                        </v-card-text>
                    </v-card>
                </v-flex>
            </v-layout>
        </v-container>
    </div>
</template>
<script>
import { mapState } from 'vuex'

export default {
    data() {
        return {
            search: '',
            headers: [
                { text: '', value: 'name', sortable: false },
                { text: 'Campaign', align: 'left', value: 'name' },
                { text: 'List', value: 'list' },
                { text: 'Sent Time', value: 'sendtime' },
            ],
            page: 1,
            pagination: 50,
        }
    },

    computed: {
        ...mapState('campaign', ['campaigns']),
        slice() {
            return this.campaigns.slice(0, this.page * this.pagination)
        },
    },

    mounted() {
        this.$store.dispatch('campaign/campaigns')
    },

    methods: {
        loadMore() {
            this.page++
        },
    },
}
</script>
