<template>
    <v-flex lg6>
        <v-card class="mb-4">
            <v-toolbar dark flat dense cad>
                <v-toolbar-title class="subheading">Info</v-toolbar-title>
                <v-spacer></v-spacer>
            </v-toolbar>
            <v-divider></v-divider>
            <v-card-text>
                <v-container fluid>
                    <v-layout wrap>
                        <v-flex xs12>
                            <v-text-field
                            label="Subject"
                            v-model="campaign.subject"
                            ></v-text-field>
                            <v-select
                            v-model="campaign.list_id"
                            :items="lists"
                            item-text="name"
                            item-value="id"
                            label="Select a list"
                            ></v-select>
                        </v-flex>
                    </v-layout>
                </v-container>
            </v-card-text>
        </v-card>
    </v-flex>
</template>
<script>
import { mapState } from 'vuex'

export default {

    computed: {
        ...mapState('campaign', ['campaign']),
        ...mapState('list', ['lists']),
    },

    mounted() {
        this.$store.dispatch('list/lists')
    },
}
</script>
