<template>
    <v-flex lg6>
        <v-card class="mb-4">
            <v-toolbar dark flat dense cad>
                <v-toolbar-title class="subheading">Template</v-toolbar-title>
                <v-spacer></v-spacer>
            </v-toolbar>
            <v-divider></v-divider>
            <v-card-text>
                <v-container fluid>
                    <v-layout wrap>
                        <v-flex xs12>
                            <v-select
                                v-model="campaign.template_id"
                                :items="templates"
                                item-text="title"
                                item-value="id"
                                label="Select a template"
                            ></v-select>
                        </v-flex>
                    </v-layout>
                </v-container>
                <v-container fluid>
                    <v-layout wrap>
                        <v-flex xs12>
                            <div v-if="campaign.template_id" v-html="preview"></div>
                        </v-flex>
                    </v-layout>
                </v-container>
            </v-card-text>
        </v-card>
    </v-flex>
</template>
<script>
import { mapState } from 'vuex'
import { templateAPI } from '@/api'

export default {
    computed: {
        ...mapState('campaign', ['campaign']),
        ...mapState('template', ['templates']),
        preview() {
            return this.templates.find(template => template.id = this.campaign.template_id).html
        },
    },

    mounted() {
        this.$store.dispatch('template/templates').then( success => {}, error => console.log(this.$alert.error(error)))
    },
}
</script>
<style scoped>
iframe {
    width: 100%;
    height: 720px;
    border: none;
    background: white;
}
</style>
