<template>
    <div>
        <snackbar></snackbar>
        <navigation></navigation>
        <v-content>
            <router-view></router-view>
        </v-content>
    </div>
</template>

<script>
export default {
    name: 'Mercurius',
    components: {},
}
</script>
