<template>
    <div id="app-navigation">
        <v-toolbar
            dark
            color="grey darken-3"
            class="hidden-lg-and-up"
            @click.stop="showNavigation()"
        >
            <v-toolbar-side-icon></v-toolbar-side-icon>
            <v-toolbar-title>{{ $router.currentRoute.name }}</v-toolbar-title>
            <v-spacer></v-spacer>
        </v-toolbar>
        <v-navigation-drawer
            v-model="drawer"
            :mini-variant="mini"
            fixed
            dark
            app
            width="270"
        >
            <v-toolbar flat>
                <v-list>
                    <v-list-tile>
                        <v-list-tile-avatar>
                            <img src="/assets/img/logo.png" />
                        </v-list-tile-avatar>
                        <v-list-tile-content>
                            <v-list-tile-title class="title">
                                Mercurius
                            </v-list-tile-title>
                        </v-list-tile-content>
                        <v-list-tile-action class="hidden-md-and-down">
                            <v-btn icon @click.stop="mini = !mini">
                                <v-icon>chevron_left</v-icon>
                            </v-btn>
                        </v-list-tile-action>
                    </v-list-tile>
                </v-list>
            </v-toolbar>

            <v-list class="pt-3">
                <v-list-tile v-if="mini" @click.stop="mini = !mini">
                    <v-list-tile-action>
                        <v-icon>chevron_right</v-icon>
                    </v-list-tile-action>
                </v-list-tile>

                <v-list-tile to="/dashboard">
                    <v-list-tile-action>
                        <v-icon>dashboard</v-icon>
                    </v-list-tile-action>

                    <v-list-tile-content>
                        <v-list-tile-title>Dashboard</v-list-tile-title>
                    </v-list-tile-content>
                </v-list-tile>

                <v-list-tile to="/campaigns">
                    <v-list-tile-action>
                        <v-icon>email</v-icon>
                    </v-list-tile-action>

                    <v-list-tile-content>
                        <v-list-tile-title>Campaigns</v-list-tile-title>
                    </v-list-tile-content>
                </v-list-tile>

                <v-list-tile to="/templates">
                    <v-list-tile-action>
                        <v-icon>view_compact</v-icon>
                    </v-list-tile-action>

                    <v-list-tile-content>
                        <v-list-tile-title>Templates</v-list-tile-title>
                    </v-list-tile-content>
                </v-list-tile>
                <v-list-tile to="/settings">
                    <v-list-tile-action>
                        <v-icon>settings</v-icon>
                    </v-list-tile-action>

                    <v-list-tile-content>
                        <v-list-tile-title>Settings</v-list-tile-title>
                    </v-list-tile-content>
                </v-list-tile>
            </v-list>
        </v-navigation-drawer>
    </div>
</template>

<script>
export default {
    data() {
        return {
            drawer: null,
            mini: false,
        }
    },
    methods: {
        showNavigation: function() {
            this.drawer = true
            this.mini = false
        },
    },
}
</script>

<style scoped></style>
